/**
 * WebExpanded SocialBox
 * 
 * @author    Kevin härtling
 * @copyright 2017 webexpanded.de
 * @package   de.stomt.feedback
 */
 
 .webexpanded_socialbox {

	.btn-social {
		display: block;
		margin-bottom: 5px;
		border: 1px solid rgba(0,0,0,0.2);
		}
		a.btn-social {
			color: white;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;

			span.icon, img.icon {
				color: white;
				border-right: 1px solid rgba(0,0,0,0.2);
				padding-right: 4px;
			}


	}
	/* Facebook */
	a.btn-facebook { background: #3b5998; }
	a.btn-facebook:hover { background: #2d4373; }
	/* Twitter */
	a.btn-twitter { background: #55acee; }
	a.btn-twitter:hover { background: #2795e9; }
	/* Instagram */
	a.btn-instagram { background: #3f729b; }
	a.btn-instagram:hover { background: #305777; }
	/* Youtube */
	a.btn-youtube { background: #cb2027; }
	a.btn-youtube:hover { background: #9f191f; }
	/* Steam */
	a.btn-steam { background: #1c2d3f; }
	a.btn-steam:hover { background: #2c4762; }
	/* Github */
	a.btn-github { background: #444; }
	a.btn-github:hover { background: #2b2b2b; }
	/* Twitch */
	a.btn-twitch { background: #720e9e; }
	a.btn-twitch:hover { background: #500a6f; }
	/* Smashcast */
	a.btn-smashcast { background: #eff7ff; color: black; }
	a.btn-smashcast:hover { background: #bcddff; color: black;}
	/* Origin */
	a.btn-origin { background: #f4731c; }
	a.btn-origin:hover { background: #d35b0a; }
	/* Uplay */
	a.btn-uplay { background: #1ab7ea; }
	a.btn-uplay:hover { background: #1295bf; }
	/* Discord */
	a.btn-discord { background: #720e9e; }
	a.btn-discord:hover { background: #500a6f; }
	/* Deviantart */
	a.btn-deviantart { background: #1d882f; }
	a.btn-deviantart:hover { background: #156f24; }
	/* Google+ */
	 a.btn-googleplus { background: #dd4b39; }
	 a.btn-googleplus:hover { background: #902f23; }
	 /* Reddit */
	 a.btn-reddit { background: #cfe4f9; }
	 a.btn-reddit:hover { background: #8699ad; }
 }